html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

.main {
	width: 100%;
	height: 100%;
	overflow:auo;
}

.fleft {
    position: fixed;
	text-align:center;
    float:left; 
    width: 25%;
    height: 100%;
}

.fright {
	float: right;
    border-left: solid 1px #EEE;
    height: 100%;
    width: 75%;
    display: inline-block;
    height: auto;
}

.pad {
	padding-top: 5%;
}

.defwrap {
    margin-left: 20px;
}

input {
    border-radius: 5px;
    background-color: transparent;
}

span[name=ital]{
    font-style: italic;
}

span[name=word]{
    font-weight: bold;
    font-size: 110%;
}